*

!.gitignore
!.bashrc

!.config
!.config/i3
!.config/i3status
!.config/kitty
!.config/nvim
!.config/ranger
!.config/picom.conf

!.images
!.images/*

!.scripts
!scripts/*

!.setup
!.setup/*

!.workspaces
!.workspaces/*

