/**

# Files in the main directory can be specified like this.
!/.gitignore
!/.bashrc
!/.Xresources

# For folders, first unignore the folder, then ignore all of the folders contents, and lastly specify which items in the folder are to be version controlled.
!/.config/
/.config/**
!/.config/i3/
!/.config/i3/config
!/.config/i3/workspaces/
!/.config/i3/workspaces/workspace-1.json
!/.config/i3/workspaces/workspace-10.json
!/.config/i3status/
!/.config/kitty/
!/.config/nvim/
!/.config/ranger/
!/.config/picom.conf
!/.config/background.png

!/bin/
/bin/**
!/bin/create-workspaces

