! special
*.foreground:   #b2cdde
*.background:   #0b1014
*.cursorColor:  #b2cdde

! black
*.color0:       #131b1f
*.color8:       #1b947f

! red
*.color1:       #1b2429
*.color9:       #2ea18c

! green
*.color2:       #29353c
*.color10:      #75964a

! yellow
*.color3:       #3c4d57
*.color11:      #56aad0

! blue
*.color4:       #556b79
*.color12:      #df3f89

! magenta
*.color5:       #728fa1
*.color13:      #83aa4b

! cyan
*.color6:       #94b9cf
*.color14:      #f66ba4

! white
*.color7:       #d7e4ed
*.color15:      #189782

